.i1{
    color: orange;
    background-image: url(https://www.google.com/url?sa=i&url=https%3A%2F%2Fecommerce-platforms.com%2Fes%2Farticles%2F50-must-have-free-backgrounds-for-your-next-web-design-project&psig=AOvVaw2RAyo2ypBcb2hHur9rlMzn&ust=1648680603467000&source=images&cd=vfe&ved=0CAsQjRxqFwoTCKDkjuKz7PYCFQAAAAAdAAAAABAD);
    display: flex;
    flex-direction: column;
    align-items: center;
}